{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">¿Charlamos?</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Lima - Barcelona</p>
        <br>
        <p><b>Agrégame a </b><a href="https://www.linkedin.com/in/joanmarinfidalgo/" target="_blank">Linkedin</a></p>
    </div>
</div>
{% endblock %}
